<linked-page-header></linked-page-header>

<crud crud-title="team" crud-type="team" crud-form="admin/team" crud-table-params="{ count: 10, sorting: { id: 'desc' } }">

    <div class="table-responsive">
        <table ng-table="table" show-filter="true" class="table table-bordered table-striped table-condensed ng-table-responsive">
            <tbody>
                <tr ng-repeat="r in $data">
                    <td class="td-id" data-title="'ID'" sortable="'id'">{{r.id}}</td>
                    <td data-title="'generic.name' | translate" sortable="'teamName'" filter="{ 'teamName': 'text' }">
                        {{r.teamName}}
                    </td>
                    <td data-title="'generic.code' | translate" sortable="'teamCode'">
                        {{r.teamCode}}
                    </td>
                    <td data-title="'generic.description' | translate">{{r.description}}</td>
                    <td class="td-edit" data-title="'action.edit' | translate">
                        <edit-button small edit-function="edit(r.id)"></edit-button>
                        <delete-button small delete-function="deleteDialog(r.id)"></delete-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</crud>
